# Ignore folder and its contents
/Storage/
/Product Images/
dynamicShop.html
buen colores.rtf
core-styles.css
cv-composer.js
cv-styles.css
globalscope.js
startpage-styles.css
studio-composer.js
studio-styles.css
toCV.js
toStudio.js
/to edit for Studio/